@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    position: relative;
}
:root {
    --font-comun:'Kanit', sans-serif;
    --font-bold:'League Gothic', sans-serif;;
    --font-cursiva: 'Tangerine', cursive;
    --blanco: #fff;
    --amarillo: #fffb00;
    --purpura: #7142de;
    --purpura-oscuro: #341f66;
    --negro: #000000;
    --colorado: #e6206c;
    --degratato-1: #ff3967;
    --degratato-2: #fc755a;
}
/*- - - - C O N T A I N E R - - - - - */
.container {
    width: 100%;
    height: auto;
    padding: 8rem 0;
}
/*- - - - - C T A - - - - -*/
.cta {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    width: max-content;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    /* color: var(--blanco); */
    color: black;
    letter-spacing: 1px;
    background-color: yellow;
    transition: all .2s ease-in-out;
    /* margin: 0 auto; */
}
/*- - - - R E S A L T A D O - - - */
.resaltado-y {
    color: #fffb00;
}


/*- - - - - H E A D E R - - -  -*/
nav {
    height: auto;
}
.logo {
    width: auto;
    height: 25px;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    position: fixed;
    top: 0;
    transition: 0.7s ease-in-out;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.658);
}
nav a {
    height: 100%;
    text-decoration: none;
    color: #fff;
}
nav a span {
    color: var(--blanco);
    font-size: 2rem;
    margin-left: 1rem;
}
.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.ham span {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 20px;
    margin: 7px auto;
    border-radius: 2px;
}
.enlaces__menu {
    display: flex;
    padding: 0;
}
.enlaces__menu li {
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
}
.enlaces__menu li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

/*- - - - - H E A D E R - - - - - */

#header {
    height: 100vh;
    background-image: url('../media/header-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

#header .header__box {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#header .header__box .header__content {
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 30%;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}
#header .header__box .header__content .cta {
    background-color: #fffb00;
    color: black;
}
#header .header__box .header__content h2 {
    color: var(--blanco);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-bold);
    font-size: 4.5rem;
    letter-spacing: 0.1rem;
}
#header .header__box .header__content h3 {
    color: var(--blanco);
    font-weight: lighter;
}
/*- - - - P R E S E N T A C I O N - -  - -*/
#presentacion {
    /* height: auto; */
    background-color: #242424;
    padding: 0 0 8rem 0;
}
#presentacion .presentacion__box {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: rgb(100, 100, 100); */
}
#presentacion .presentacion__top {
    width: 100%;
    height: 15rem;
    border-radius: 2rem;
    margin-top: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(255, 238, 0); */
}
#presentacion .presentacion__top h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.8rem;
}
#presentacion  .presentacion__botom {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}
.presentacion__botom .presentacion__clase {
    width: 30%;
    min-width: 25rem;
    height: 80%;
    border-radius: 2rem;
    text-align: center;
    margin: 4rem auto;
    padding: 0 0 4rem 0;
    overflow: hidden;
    background-color: rgb(46, 46, 46);
    transition: all 0.3s ease-in-out;
}
.presentacion__botom .presentacion__clase:hover {
    transform: scale(1.02);
    filter: drop-shadow(0px 0px 5px #FFC800);
}
.presentacion__botom .presentacion__clase:hover img {
    transform: scale(1.1);
}
.presentacion__botom .presentacion__clase .presentacion__info {
    padding: 0 0.4rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentacion__botom .presentacion__clase .presentacion__info  h3 {
    color: yellow;
    text-transform: uppercase;
    padding-top: 1rem;
    font-weight: bold;
}
.presentacion__botom .presentacion__clase .presentacion__info  p {
    color: #fff;
}
.presentacion__botom .presentacion__clase .presentacion__img {
    width: 100%;
    height: auto;
}
.presentacion__botom .presentacion__clase .presentacion__img img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}
#presentacion .cta {
    margin: 0 auto;
    transition: all .2s ease-in-out;
}
.cta:hover {
    filter: drop-shadow(0px 0px 5px #FFC800);
    transform: scale(1.05);
}


/*- - - - A R A N C E L E S - - - - */
#aranceles {
    background-color: #242424;
}