@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    position: relative;
    background-color: var(--gris);
}
:root {
    --font-comun:'Kanit', sans-serif;
    --font-bold:'Braah One', sans-serif;;
    --font-cursiva: 'Tangerine', cursive;
    --blanco: #fff;
    --amarillo: #fffb00;
    --purpura: #7142de;
    --purpura-oscuro: #341f66;
    --negro: #1b1b1b;
    --colorado: #e6206c;
    --gris: #dddddd;
}
/*- - - - C O N T A I N E R - - - - - */
.container {
    width: 100%;
    height: auto;
    padding: 8rem 0;
}
/*- - - - - C T A - - - - -*/
.cta {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    width: max-content;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    color: var(--blanco);
    /* color: black; */
    letter-spacing: 1px;
    background-color: var(--colorado);
    transition: all .2s ease-in-out;
    /* margin: 0 auto; */
}
/*- - - - R E S A L T A D O - - - */
.resaltado-y {
    color: var(--colorado);
}
/*- - - - B O T O N E S - - - - */
.botones {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: auto;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    background-color: #52525177;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
    z-index: 5;
}
.botones img {
    width: 100%;
}
/*- - - - - H E A D E R - - -  -*/
nav {
    height: auto;
}
.logo {
    width: auto;
    height: 25px;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    position: fixed;
    top: 0;
    transition: 0.7s ease-in-out;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.658);
}
nav a {
    height: 100%;
    text-decoration: none;
    color: #fff;
}
nav a span {
    color: var(--blanco);
    font-size: 2rem;
    margin-left: 1rem;
}
.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.ham span {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 20px;
    margin: 7px auto;
    border-radius: 2px;
}
.enlaces__menu {
    display: flex;
    padding: 0;
}
.enlaces__menu li {
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
}
.enlaces__menu li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

/*- - - - - H E A D E R - - - - - */

#header {
    height: 100vh;
    /* background-image: url('../media/header-background.jpg'); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
#header .background-header {
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: url('../media/back/b1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: cambio 28s infinite alternate linear;;
}
@keyframes cambio {
    0%{background-image: url('../media/back/b2.jpg');}
    10%{background-image: url('../media/back/b2.jpg');}

    15%{background-image: url('../media/back/b3.jpg');}
    25%{background-image: url('../media/back/b3.jpg');}

    30%{background-image: url('../media/back/b4.jpg');}
    40%{background-image: url('../media/back/b4.jpg');}

    45%{background-image: url('../media/back/b5.jpg');}
    55%{background-image: url('../media/back/b5.jpg');}

    60%{background-image: url('../media/back/b1.jpg');}
    70%{background-image: url('../media/back/b1.jpg');}

    75%{background-image: url('../media/back/b7.jpg');}
    85%{background-image: url('../media/back/b7.jpg');}

    90%{background-image: url('../media/back/b8.jpg');}
    100%{background-image: url('../media/back/b8.jpg');}
}
#header .background-header img {
    position: absolute;
    width: 100%;
    height: auto;
}
#header .header__box {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#header .header__box .header__content {
    width: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.747);
}
#header .header__box .header__content .cta {
    background-color: var(--colorado);
    /* color: black; */
}
#header .header__box .header__content h2 {
    color: var(--blanco);
    text-transform: uppercase;
    text-align: center;
    /* font-family: var(--font-bold); */
    font-size: 4.5rem;
    letter-spacing: 0.1rem;
}
#header .header__box .header__content h3 {
    color: var(--blanco);
    font-weight: lighter;
}
/*- - - - P R E S E N T A C I O N - -  - -*/
#presentacion {
    /* height: auto; */
    background-color: #dddddd;
    padding: 0 0 8rem 0;
}
#presentacion .presentacion__box {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: rgb(100, 100, 100); */
}
#presentacion .presentacion__top {
    width: 100%;
    height: 15rem;
    border-radius: 2rem;
    margin-top: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(255, 238, 0); */
}
#presentacion .presentacion__top h2 {
    color: #272727;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.8rem;
}
#presentacion  .presentacion__botom {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}
.presentacion__botom .presentacion__clase {
    width: 30%;
    min-width: 25rem;
    height: 80%;
    border-radius: 2rem;
    text-align: center;
    filter: drop-shadow(0px 0px 5px #525251);
    margin: 4rem auto;
    padding: 0 0 4rem 0;
    overflow: hidden;
    background-color: rgb(224, 224, 224);
    transition: all 0.3s ease-in-out;
}
.presentacion__botom .presentacion__clase:hover {
    transform: scale(1.01);
}
.presentacion__botom .presentacion__clase:hover img {
    transform: scale(1.02);
}
.presentacion__botom .presentacion__clase .presentacion__info {
    padding: 0 0.4rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentacion__botom .presentacion__clase .presentacion__info  h3 {
    color: var(--colorado);
    text-transform: uppercase;
    padding-top: 1rem;
    font-weight: bold;
}
.presentacion__botom .presentacion__clase .presentacion__info  p {
    color: #fff;
    color: var(--purpura-oscuro);
}
.presentacion__botom .presentacion__clase .presentacion__img {
    width: 100%;
    height: auto;
}
.presentacion__botom .presentacion__clase .presentacion__img img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}
#presentacion .cta {
    margin: 0 auto;
    transition: all .2s ease-in-out;
}
.cta:hover {
    filter: drop-shadow(0px 0px 5px #FFC800);
    transform: scale(1.05);
}


/*- - - - A R A N C E L E S - - - - */
#aranceles {
    background-color: #242424;
    background-image: url('../media/fondo-negro-elegante-espacio-copia.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-top: 30rem;
}
#aranceles .divisor {
    width: 200%;
    height: 50rem;
    position: absolute;
    top: -46rem;
    left: -20rem;
    transform: rotate(-7deg);
    background-color: #dddddd;
    /* background-color: blue; */
    /* background-color: ; */
}

#aranceles .aranceles__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-template-rows: auto;
    place-items: center;
    place-content: center;
    justify-content: center;
    gap: 4rem;
}
/*- - - C A R D   D E R E C H A - - - */
#aranceles .aranceles__container .arancel__card {
    width: 50%;
    min-width: 35rem;
    margin: 0 auto;
}
#aranceles .aranceles__container .arancel__card .card {
    width: 100%;
    height: auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    border-radius: 2rem;
    /* background-image: url('../media/patron-yeso-oscura.jpg'); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px -0px 13px 6px rgba(230,32,108,0.59);
-webkit-box-shadow: 0px -0px 13px 6px rgba(230,32,108,0.59);
-moz-box-shadow: 0px -0px 13px 6px rgba(230,32,108,0.59);
}
#aranceles .aranceles__container .card .mensual {
    font-size: 1.4rem;
    text-transform: uppercase;
}
#aranceles .aranceles__container .card h3 {
    width: 80%;
    font-family: var(--font-bold);
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
    align-items: start;
    text-transform: uppercase;
    color: var(--negro);
    border-bottom: 2px solid var(--colorado);
    margin-bottom: 4rem;
}
#aranceles .aranceles__container .card span {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--negro);
}
#aranceles .aranceles__container .card .price {
    font-size: 5rem;
    font-weight: 600;
    color: var(--negro);

    margin-bottom: 4rem;
    /* border-top: 1px solid white; */
}
#aranceles .aranceles__container .card .cta {
    width: 90%;
    background-color: var(--colorado);
    text-align: center;
    margin-bottom: 4rem;
}
#aranceles .aranceles__container .card p {
    color: var(--negro);
    line-height: 4rem;
}
#aranceles .fa-circle-check {
    color: var(--colorado);
}

/*- - - C A R D   I Z Q U I E R D A -- - - */

#aranceles .aranceles__container .arancel__info {
    width: 80%;
    /* min-width: 350px; */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

#aranceles .aranceles__container .arancel__info h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    margin-bottom: 4rem;
}
#aranceles .aranceles__container .arancel__info p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: white;
}
/*- - - - M A P S - - - - */
#maps {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#maps .sede1, .sede2 {
    margin: 0 auto;
    text-align: center;
}
#maps h3 {
    margin-bottom: 1rem;
}
#maps .mape {
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.43);
-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.43);
-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.43);
}
/*- - - F O O T E R - - - */
footer {
    width: 100%;
    height: 15rem;
    background-color: black;
}


@media (max-width:850px) {
    .logo {
        padding-left: 25px;
    }
    .logo.fuera {
        display: none;
    }
    .ham {
        display: block;
        position: absolute;
        top: 0;
        transform: translateY(50%);
        right: 30px;
        transition: 0.2s 0.1;
    }
    .ham span {
        background-color: var(--colorado);
    }
    .ham:hover {
        transform: rotate(360deg);
    }
    nav {
        flex-direction: column;
        padding: 0;
    }
    .titulo {
        margin-top: 1rem;
        padding: 1rem 0 0 0;
    }
    nav .span {
        margin-top: 1rem;
    }
    nav .enlaces__menu {
        height: 150%;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        display: none;
        opacity: 0;
    }
    @keyframes muestraMenu {
        from { opacity: 0;}
        to {opacity: 1;}
    }
    nav .enlaces__menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    nav .enlaces__menu.activado {
        display: flex;
        animation: muestraMenu 350ms ease-in-out both;
        margin-top: 4rem;
    }
    .br-1.animado {
        transform: rotate(-45deg)translate(-7px, 7px);
    }
    .br-2.animado {
        opacity: 0;
    }
    .br-3.animado {
        transform: rotate(45deg) translate(-7px, -7px);
    }
    #header .header__box .header__content {
        width: 80%;
    }
    #aranceles .aranceles__container {
        grid-template-columns: 1fr;
    }
    #aranceles .aranceles__container .arancel__info p {
        text-align: center;
    }
}
@media (max-width:444px) {
    #maps {
        flex-direction: column;
        gap: 4rem;
    }
    .botones {
        flex-direction: row;
        width: 30%;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        margin-top: 7rem;
        gap: 2rem;
    }
}

@media (max-width:380px) {
    nav a span {
        display: none;
    }
    .botones {
        width: 30%;
    }
    #aranceles .aranceles__container .arancel__card .card {
        min-width: 200px;
    }
    #header .header__box .header__content {
        width: 110%;
    }
}

@media (max-width:300px) {
    .botones {
        width: 40%;
    }
}